@import '../../../../../styles/var.less';

.box {
}

.box_right_center {
  height: 100%;
}

.box_right_console {
  height: 300px;
  overflow: hidden;
}

.box_right_result {
  border-top: 1px solid red;
  height: 0px;
  flex: 1;
}
